{% extends 'base.html' %}




{% load staticfiles %}

{% block content %}
    <style>
        span {
            font-size: 64px;
            color: firebrick;

        }
        *{
            font-family: 'Nanum Gothic', sans-serif;
        }
        ul {

            list-style: none;
        }
        li {
            margin-bottom: 20px;
        }
        a{
            text-decoration: none;
            color: darkslategray;
            padding: 10px 20px;
        }
        a:hover {
            background-color: dimgray;
            color: darkkhaki;
        }
        #content {
            text-align: center;
            border: 3px solid black;

        }
        blbutton {
            margin-top: 40px;
        }

    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row md">
        <div class="col-md-4"></div>
        <div class="col-md-4" id="content">
            <h1>{{object.title}}</h1>

            <a href="{% url 'bookmark_update' bookmark.id %}"> <button> UPDATE </button> </a>
            <a href="{% url 'bookmark_delete' bookmark.id %}"> <button> DELETE </button></a>

             <ul>

            <li><a href= "{{ object.url }}" > {{object.url}} </a>
            </li>
            <li> CREATE DATE : {{ object.create_date }} </li>
            <li> MODIFY DATE : {{ object.modify_date }}</li>

             </ul>
             <br>

            <iframe src= {{object.url}}></iframe>
            <br>
            <br>
        </div>
        <div class="col-md-4"></div>


</div>
    </div>    


{% endblock content%}